body {
    margin: 0;
    height: 100%;
    background: #0a1a1f;
}

.main {
    background: #0a1a1f;
    display: block;
    height: 100vh;
}

.react-grid-item {
    border: 3px solid #ea102b;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 1px 5px rgba(0, 188, 212, 0.2);
}

.kpi-header-date {
    position: absolute;
    right: 2px;
    font-size: 12px;
}

.kpi-body {
    background-image: url('../img/world.svg');
    background-size: 100% 100%;
    opacity: 0.7;
}

.kpi-icons {
    display: flex;
    width: 100%;
    height: 60%;
    border: 1px solid #ea102b;
}

.kpi-icons .icon-coronavirus {
    width: 50%;
    height: 100%;
    background-image: url('../img/coronavirus.svg');
    background-size: 100% 100%;
}

.kpi-icons .icon-biohazard {
    width: 50%;
    height: 100%;
    background-image: url('../img/biohazard.svg');
    background-size: 100% 100%;
}

/*background-color: #ea102b;
-webkit-mask: url('../img/world.svg') no-repeat;
mask: url('../img/world.svg') no-repeat;
-webkit-mask-size: 100% 100%;
mask-size: 100% 100%;
opacity: 0.7;*/

/*b9b9b9*/

.kpi-inner-right-labels {
    width: 100%;
    /*height: 40%;*/
}

.right-labels-text1 {
    color: #d5ece9;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: clamp(12px, 2.6vw, 25px);
    text-align: right;
    margin-top: 2px;
}

.right-labels-text2 {
    color: #ea102b;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    text-align: right;
    font-size: clamp(10px, 1.0vw, 12px);
}

.kpi-statistic {
    position: absolute;
    height: 40%;
    bottom: 10px;
    left: 5px;
    right: 5px;
    background: #0a1a1f;
    opacity: 1;
    display: flex;
}

.kpi-total-statistic {
    width: 50%;
    margin: 5px;
    border-right: 2px solid #ea102b;
}

.kpi-total-statistic-label {
    color: #d5ece9;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: clamp(10px, 1.3vw, 15px);
    text-align: center;
    margin-top: 10px;
}

.kpi-total-statistic-number {
    /*color: #d5ece9;*/
    color: #ffc107;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: clamp(12px, 3.0vw, 28px);
    text-align: center;
    margin-top: 10px;
}

.kpi-detailed-statistic {
    width: 50%;
    margin: 5px;
}


.kpi-detailed-death-statistic-label, .kpi-detailed-recover-statistic-label {
    color: #d5ece9;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: clamp(10px, 1.3vw, 15px);
    text-align: center;
    margin-top: 4px;
}

.kpi-detailed-death-statistic-number {
    color: #F44336;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: clamp(10px, 2vw, 23px);
    text-align: center;
    margin-top: 5px;
}

.kpi-detailed-recover-statistic-number {
    color: #8bc34a;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: clamp(10px, 2vw, 23px);
    text-align: center;
    margin-top: 5px;
}

.kpi-banner {
    position: absolute;
    width: 50%;
    height: 40%;
    display: flex;
    margin: 5px;
    color: #fff;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: clamp(10px, 1.4vw, 16px);
    align-items: center;
}

.map-donut-description {
    color: #d5ece9;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 9px;
    text-align: center;
    position: absolute;
    width: 100%;
    padding: 5px;
    z-index: 10000;
}

.tooltip {
    background: /*#c9e6e9*/ #091a1f;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    opacity: 0.8;
    z-index: 10000;
}

.tooltip-header {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "roboto condensed", sans-serif;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    border-bottom: 2px solid;
    width: 100%;
    height: 20%;
}

.tooltip-label {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "roboto condensed", sans-serif;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    height: 20%;
}

.tooltip-number {
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin-top: 3px;
}

.bars-trend-controls {
    display: flex;
    color: #d5ece9;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    position: absolute;
    z-index: 10;
    width: 35%;
    right: 10px;
    top: 5px;
    cursor: pointer;
    background: #545454;
}

.bars-trend-controls .confirmed {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    border: 1px solid #d5ece9;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 3px;
}

.bars-trend-controls .confirmed:hover {
    background: #3e3d3d;
}

.bars-trend-controls .confirmed.selected {
    background: #ffc107;
    color: #3e3d3d;
    outline: none;
}

.bars-trend-controls .deaths {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    border-top: 1px solid #d5ece9;
    border-bottom: 1px solid #d5ece9;
    padding: 3px;
}

.bars-trend-controls .deaths:hover {
    background: #3e3d3d;
}

.bars-trend-controls .deaths.selected {
    background: #f44336;
    color: #3e3d3d;
    outline: none;
}

.bars-trend-controls .recovered {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    border: 1px solid #d5ece9;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 3px;
}

.bars-trend-controls .recovered:hover {
    background: #3e3d3d;
}

.bars-trend-controls .recovered.selected {
    background: #8bc34a;
    color: #3e3d3d;
    outline: none;
}

.bars-trend-input {
    left: 10px;
    border: 1px solid #d5ece9;
    height: 16px;
    border-radius: 4px;
    background: #3e3d3d;
    color: #d5ece9;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    position: absolute;
    top: 5px;
    z-index: 10;
}

.bars-trend-input::placeholder {
    color: rgba(213, 236, 233, 0.8);
}

.bars-trend-description {
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 9px;
    text-align: left;
    color: #d5ece9;
    position: absolute;
    width: 40%;
    top: 5px;
    left: 140px;
}

.bars-trend-controls.bars-3d-controls {
    right: 5px;
    width: 200px;
}

.bars-3d-description {
    color: #d5ece9;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 9px;
    text-align: left;
    position: absolute;
    width: 100%;
    padding: 5px;
    top: 25px;
}

.table-chart {
    width: 100%;
    height: 100%;
    color: #d5ece9;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
}

.ag-header-cell-label {
    justify-content: center;
    border-bottom: 1px solid rgb(234, 16, 43);
    align-items: center;
    font-weight: bold;
}

.ag-row {
    border-bottom: 1px solid rgba(148, 169, 168, 0.4);
}

.ag-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

div[col-id="country"] {
    justify-content: left;
    margin-left: 5px;
}

.custom-tooltip {
    position: absolute;
    width: 100px;
    border: 2px solid #8bc34a;
    border-radius: 3px;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 1s;
    padding: 5px;
}

.custom-tooltip.ag-tooltip-hiding {
    opacity: 0;
}

.table-cell {
    display: flex;
    flex-direction: column;
}

.area-chart-controls {
    display: flex;
    color: #d5ece9;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    position: absolute;
    z-index: 10;
    width: 35%;
    right: 10px;
    top: 5px;
    cursor: pointer;
    background: #545454;
}

.area-chart-controls .confirmed.dynamic {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    border: 1px solid #d5ece9;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 3px;
}

.area-chart-controls .confirmed.dynamic:hover {
    background: #3e3d3d;
}

.area-chart-controls .confirmed.dynamic.selected {
    background: #ffc107;
    color: #3e3d3d;
    outline: none;
}

.area-chart-controls .confirmed.total {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    border-top: 1px solid #d5ece9;
    border-bottom: 1px solid #d5ece9;
    border-right: 1px solid #d5ece9;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 3px;
}

.area-chart-controls .confirmed.total:hover {
    background: #3e3d3d;
}

.area-chart-controls .confirmed.total.selected {
    background: #ffc107;
    color: #3e3d3d;
    outline: none;
}

.area-chart-controls .deaths.dynamic {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    border: 1px solid #d5ece9;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 3px;
}

.area-chart-controls .deaths.dynamic:hover {
    background: #3e3d3d;
}

.area-chart-controls .deaths.dynamic.selected {
    background: #f44336;
    color: #3e3d3d;
    outline: none;
}

.area-chart-controls .deaths.total {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    border-top: 1px solid #d5ece9;
    border-bottom: 1px solid #d5ece9;
    border-right: 1px solid #d5ece9;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 3px;
}

.area-chart-controls .deaths.total:hover {
    background: #3e3d3d;
}

.area-chart-controls .deaths.total.selected {
    background: #f44336;
    color: #3e3d3d;
    outline: none;
}

.area-chart-description {
    color: #d5ece9;
    font-family: roboto condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 9px;
    text-align: left;
    position: absolute;
    width: 60%;
    padding: 5px;
}
